# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [66]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [67]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    # join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))

/home/jovyan/work/Projects/project-2

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [68]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:
    # read with pandas
    file_df = pd.read_csv(f, index_col=None, header=0)
    full_data_rows_list.append(file_df)
    
full_data = pd.concat(full_data_rows_list, axis=0, ignore_index=True)

# uncomment the code below if you would like to get total number of rows 
print(len(full_data), "rows in source")

# uncomment the code below if you would like to check to see what the list of event data rows will look like
# display(full_data)

full_data = full_data[full_data.artist.notnull()]
print(len(full_data), "rows in destination")

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
full_data.to_csv(
    'event_datafile_new.csv', 
    index=False, 
    columns=['artist','firstName','gender','itemInSession','lastName','length','level','location','sessionId','song','userId'], 
    encoding = 'utf8'
)
display(full_data)

8056 rows in source
6820 rows in destination

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,You Gotta Be,200,1.541110e+12,8.0
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,Flat 55,200,1.541110e+12,8.0
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,Quem Quiser Encontrar O Amor,200,1.541110e+12,8.0
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,Eriatarka,200,1.541110e+12,8.0
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,Becoming Insane,200,1.541110e+12,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,Foo Fighters,Logged In,Rylan,M,57,George,271.38567,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Pretender,200,1.543600e+12,16.0
8051,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Besos De Ceniza,200,1.543600e+12,16.0
8052,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Rose,200,1.543600e+12,16.0
8053,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Haunting,200,1.543600e+12,16.0
8055,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540770e+12,985,Anything You Say (Unreleased Version),200,1.543610e+12,5.0

In [69]:
# check the number of rows in your csv file
print(sum(1 for line in open('event_datafile_new.csv', 'r')))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="./images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [70]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(['cassandra'])

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [71]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
""")

except Exception as e:
    print(e)

#### Set Keyspace

In [72]:
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [73]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

# SELECT artist, song, length FROM listened_songs_events WHERE session_id = 338 and item_in_session = 4
try:
    session.execute("""
        CREATE TABLE IF NOT EXISTS listened_songs_events (
            session_id bigint,
            item_in_Session int,
            user_id bigint,
            first_name text,
            last_name text,
            gender text,
            location text,
            level text,
            song text,
            length float,
            artist text,
            PRIMARY KEY ((session_id, item_in_session))
        )
    """)
except Exception as e:
    print(e)


# SELECT artist, song, first_name, last_name FROM listened_songs_by_user_by_session WHERE session_id = 182 and user_id = 10
try:
    session.execute("""
        CREATE TABLE IF NOT EXISTS listened_songs_by_user_by_session (
            session_id bigint,
            user_id bigint,
            item_in_session int,
            first_name text,
            last_name text,
            song text,
            artist text,
            PRIMARY KEY ((session_id, user_id), item_in_session)
        )
    """)
except Exception as e:
    print(e)

    
# SELECT first_name, last_name FROM users_by_songs_listened WHERE song = 'All Hands Against His Own'
try:
    session.execute("""
        CREATE TABLE IF NOT EXISTS users_by_songs_listened (
            song text,
            first_name text,
            last_name text,
            user_id bigint,
            PRIMARY KEY (song, first_name, last_name)
        )
    """)
except Exception as e:
    print(e)

In [74]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
dtypes = {
    'artist': 'str',
    'firstName': 'str',
    'gender': 'str',
    'itemInSession': 'int32',
    'lastName': 'str',
    'length': 'float',
    'level': 'str',
    'location': 'str',
    'sessionId': 'int64',
    'song': 'str',
    'userId': 'int64',
}
csvcontent = pd.read_csv('event_datafile_new.csv', dtype=dtypes, encoding = 'utf8')


print("Inserting data")
for idx, row in csvcontent.iterrows():
    try:
        insert_listened_songs_events = "INSERT INTO listened_songs_events (artist, first_name, gender,\
            item_in_session, last_name, length, level, location, session_id, song, user_id)\
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        
        session.execute(insert_listened_songs_events, (
            row.artist,
            row.firstName,
            row.gender,
            row.itemInSession,
            row.lastName,
            row.length,
            row.level,
            row.location,
            row.sessionId,
            row.song,
            row.userId
        ))
    except Exception as e:
        print(e)
    
    try:
        insert_listened_songs_events = "INSERT INTO listened_songs_by_user_by_session (artist, song,\
            first_name, last_name, item_in_session, session_id, user_id)\
            VALUES (%s, %s, %s, %s, %s, %s, %s)"
        
        session.execute(insert_listened_songs_events, (
            row.artist,
            row.song,
            row.firstName,
            row.lastName,
            row.itemInSession,
            row.sessionId,
            row.userId
        ))
    except Exception as e:
        print(e)
    
    try:
        insert_listened_songs_events = "INSERT INTO users_by_songs_listened (song, first_name, last_name,\
        user_id) VALUES (%s, %s, %s, %s)"
        
        session.execute(insert_listened_songs_events, (
            row.song,
            row.firstName,
            row.lastName,
            row.userId
        ))
    except Exception as e:
        print(e)
        
print("Data inserted")

Inserting data
Data inserted

#### Do a SELECT to verify that the data have been inserted into each table

In [49]:

print("Listened Songs Events")
try:
    select_listened_songs_events = "SELECT * FROM listened_songs_events LIMIT 10"
    listened_songs_events = session.execute(select_listened_songs_events)
except Exception as e:
    print(e)

listened_songs_df = pd.DataFrame(list(listened_songs_events))
display(listened_songs_df)

print("Listened Songs by User by Session")
try:
    select_listened_songs_by_user_by_session = "SELECT * FROM listened_songs_by_user_by_session LIMIT 10"
    listened_songs_by_user_by_session = session.execute(select_listened_songs_by_user_by_session)
except Exception as e:
    print(e)

listened_songs_by_user_by_session_df = pd.DataFrame(list(listened_songs_by_user_by_session))
display(listened_songs_by_user_by_session_df)

print("Users by Songs Listened")
try:
    select_users_by_songs_listened = "SELECT * FROM users_by_songs_listened LIMIT 10"
    users_by_songs_listened = session.execute(select_users_by_songs_listened)
except Exception as e:
    print(e)

users_by_songs_listened_df = pd.DataFrame(list(users_by_songs_listened))
display(users_by_songs_listened_df)

Listened Songs Events

,session_id,item_in_session,artist,song,first_name,gender,last_name,length,level,location,user_id
0,455,2,Biffy Clyro,God & Satan,Anabelle,F,Simpson,189.831375,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",69
1,23,1,Octopus Project,All Of The Champs That Ever Lived,Layla,F,Griffin,250.957916,paid,"Lake Havasu City-Kingman, AZ",24
2,147,47,Radiohead,Karma Police,Kate,F,Harrell,261.459137,paid,"Lansing-East Lansing, MI",97
3,275,2,Beastie Boys,Lighten Up,Harper,M,Barrett,161.566895,paid,"New York-Newark-Jersey City, NY-NJ-PA",42
4,172,30,Boom Bip,From Left To Right,Lily,F,Koch,330.161194,paid,"Chicago-Naperville-Elgin, IL-IN-WI",15
5,548,27,Vieja Trova Santiaguera,Cuida Eso,Tegan,F,Levine,222.588928,paid,"Portland-South Portland, ME",80
6,834,3,Bettye Lavette,I Still Want To Be Your Baby (Take Me Like I Am),Lily,F,Koch,225.828125,paid,"Chicago-Naperville-Elgin, IL-IN-WI",15
7,416,30,The Black Keys,Howlin For You,Tegan,F,Levine,191.764435,paid,"Portland-South Portland, ME",80
8,954,39,Gorillaz,Plastic Beach (Feat. Mick Jones and Paul Simonon),Jacob,M,Klein,227.055862,paid,"Tampa-St. Petersburg-Clearwater, FL",73
9,221,25,Polyphonic Spree,Section Ten,Lily,F,Koch,2190.941650,paid,"Chicago-Naperville-Elgin, IL-IN-WI",15

Listened Songs by User by Session

,session_id,user_id,item_in_session,artist,song,first_name,last_name
0,131,56,0,Toy-Box,Eenie_ Meenie_ Miney_ Mo,Cienna,Freeman
1,131,56,1,Beirut,The Penalty,Cienna,Freeman
2,394,26,0,NOFX,Benny Got Blowed Up,Ryan,Smith
3,100,101,0,Survivor,Eye Of The Tiger,Jayden,Fox
4,196,44,0,Anberlin,Dismantle. Repair.,Aleena,Kirby
5,196,44,2,L-7,Shitlist,Aleena,Kirby
6,196,44,4,Future Of The Left,Fingers Become Thumbs,Aleena,Kirby
7,196,44,5,Franz Ferdinand,Call Me,Aleena,Kirby
8,196,44,6,Travie McCoy,Billionaire [feat. Bruno Mars] (Explicit Albu...,Aleena,Kirby
9,196,44,7,Lily Allen,Smile,Aleena,Kirby

Users by Songs Listened

                                  song first_name  last_name  user_id
0                   Wonder What's Next      Chloe     Cuevas       49
1                  In The Dragon's Den      Chloe     Cuevas       49
2    Too Tough (1994 Digital Remaster)     Aleena      Kirby       44
3  Rio De Janeiro Blue (Album Version)      Chloe     Cuevas       49
4                             My Place      Jacob      Klein       73
5                             My Place       Lily       Koch       15
6                       The Lucky Ones      Layla    Griffin       24
7                       I Want You Now      Tegan     Levine       80
8                            Why Worry   Mohammad  Rodriguez       88
9                TvÃÂ¡rÃÂ­ v TvÃÂ¡r       Kate    Harrell       97

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [54]:
query_1 = "SELECT artist, song, length FROM listened_songs_events WHERE session_id = 338 and item_in_session = 4"
print(query_1)
try:
    query_1_result = session.execute(query_1)
except Exception as e:
    print(e)
    
display(pd.DataFrame(list(query_1_result)))

SELECT artist, song, length FROM listened_songs_events WHERE session_id = 338 and item_in_session = 4

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

In [56]:
query_2 = "SELECT artist, song, first_name, last_name FROM listened_songs_by_user_by_session WHERE session_id = 182 and user_id = 10"
print(query_2)
try:
    query_2_result = session.execute(query_2)
except Exception as e:
    print(e)
    
display(pd.DataFrame(list(query_2_result)))

SELECT artist, song, first_name, last_name FROM listened_songs_by_user_by_session WHERE session_id = 182 and user_id = 10

,artist,song,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [65]:
query_3 = "SELECT first_name, last_name FROM users_by_songs_listened WHERE song = 'All Hands Against His Own'"
print(query_3)
try:
    query_3_result = session.execute(query_3)
except Exception as e:
    print(e)
    
display(pd.DataFrame(list(query_3_result)))

SELECT first_name, last_name FROM users_by_songs_listened WHERE song = 'All Hands Against His Own'
Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

Empty DataFrame
Columns: []
Index: []

### Drop the tables before closing out the sessions

In [60]:
## TO-DO: Drop the table before closing out the sessions
try:
    session.execute("DROP TABLE listened_songs_events")
    session.execute("DROP TABLE listened_songs_by_user_by_session")
    session.execute("DROP TABLE users_by_songs_listened")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="unconfigured table listened_songs_events"

### Close the session and cluster connection¶

In [75]:
session.shutdown()
cluster.shutdown()